@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    margin: 0;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    caret-color: transparent;
    background-color: #000000;
}


.my-button {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  margin-left: 32px;
  float: left;
  line-height: 70px;
  display: none;
}

.my-button:focus {
  outline: none;
}

nav {
    background-color: transparent;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding-right: 2%;
    padding-top: 1%;
    font-size: 20px;
    font-weight: 700;
}
nav ul i {
font-size: 22px;
padding-top: 20%;
padding: 1em;
font-weight: 700;
}

nav ul li {
    padding: 20px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    color: #000000;
    transition: ease-in-out .25s;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    caret-color: transparent;
    
}

.logo2 {
    display: flex;
    justify-content: left;
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: url(tiny-g-logo.png);
    top: 2%;
    background-size: cover;
    left: 3%;
    
}

.logo2:hover {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all .5s ease;
}

.logo2:not(:hover) {
    transition: ease-out .5s;
}

.fa-instagram {
    color: white;
}

.fa-linkedin {
    color: white;
}

#jobtitle1 {
    margin-top: 300px;
    position: absolute;
    left: 5.21%;
    right: 90.19%;
    top: -50px;
    bottom: 92.87%;
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    padding-top: 20px;
    font-size: 100px;
    font-weight: 700;
}

#jobtitle2 {
    margin-top: 300px;
    position: absolute;
    left: 8%;
    right: 90.19%;
    top: 0px;
    bottom: 92.87%;
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #7FB9FD;
    font-size: 100px;
    padding-top: 62px;
    font-weight: 700;
}

#name1 {
    margin-top: 100px;
    position: absolute;
    left: 5.21%;
    right: 96%;
    top: 80px;
    bottom: 92.87%;
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 39px;
    font-size: 230px;
    padding-left: 180px;
}

#name2 {
    margin-top: 100px;
    position: absolute;
    left: 10%;
    right: 90.19%;
    top: 80px;
    bottom: 92.87%;
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 39px;
    padding-top: 62px;
    font-size: 230px;
    padding-left: 180px;
    padding-top: 200px;
    color: gray;
}

#evwalk {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 4.6%;
    top: 400px;
    object-fit: cover;
    background: url(me-n-evan.jpg);
    background-size: cover;
    border-radius: 7.2px;
}

#toptext {
    position: absolute;
    left: 34%;
    top: 400px;
    color: #7FB9FD;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 700;
}

#paragraph {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 28%;
    top: 450px;
    color: white;
    font-size: 24px;
    padding-top: 100px;
    max-width: 700px;
}

.videos {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 550px;
    width: 700px;
    left: 1100px;
    
}



 @media(max-width: 1920px) and (max-height: 1080px) {
    *  {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }

    body {
        background-image: url(background.jpg);
        background-size: cover;
    }
    
    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: left;
        caret-color: transparent;
    }
    
    .logo2 {
        /* display: flex;
        justify-content: center;
        position: absolute;
        width: 200px;
        height: 100px;
        left: 855px;
        background-image: url(tiny-g-logo.png);
        top: 20px;
        background-size: cover; */
        display: flex;
    justify-content: left;
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: url(tiny-g-logo.png);
    top: 2%;
    background-size: cover;
    left: 3%;

    } 
    
    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 10px;
        position: relative;
    }
    
    
    
    #jobtitle1 {
        margin-top: 150px;
        position: absolute;
        left: 5.21%;
        right: 90.19%;
        top: 80px;
        bottom: 92.87%;
        color: #FFFFFF;
        font-size: 80px;
        position: absolute;
        padding-top: 20px;
        font-weight: 700;
    }
    
    #jobtitle2 {
        margin-top: 160px;
        position: absolute;
        left: 8%;
        right: 90.19%;
        top: 100px;
        bottom: 92.87%;
        color: #FFFFFF;
        font-size: 80px;
        padding-left: 10px;
        
        color: #7FB9FD;
        padding-top: 62px;
        font-weight: 700;
    }
    
    #name1 {
        margin-top: 70px;
        position: absolute;
        left: 5.21%;
        right: 96%;
        top: 100px;
        bottom: 92.87%;
        color: #FFFFFF;
        padding-left: 39px;
        font-size: 180px;
        padding-left: 180px;
    }
    
    #name2 {
        margin-top: 50px;
        position: absolute;
        left: 10%;
        right: 90.19%;
        top: 90px;
        bottom: 92.87%;
        color: #FFFFFF;
        font-size: 180px;
        padding-left: 180px;
        padding-top: 200px;
        color: gray;
    }
    
    #paragraph {
        max-width: 550px;
    }
    
    #toptext {
        position: absolute;
        left: 780px;
        top: 400px;
        color: #7FB9FD;
        font-size: 50px;
        padding-left: 20px;
        padding-top: 20px;
        font-weight: 700;
    }

    nav a {
        font-size: 20px;
    }

    .videos {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 350px;
        width: 700px;
        left: 730px;
        
    }
} 


        @media (max-width: 800px) {
            
          *  {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            }
            
            body {
                background-image: url(background-mobile.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
            }
            
            nav ul {
                display: none;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                padding-top: 150px;
              }

              
            nav li {
                color: red;
                }

              nav ul.show {
                display: flex;
                
              }
              
              .my-button {
                display: block;
                color: white;
                position: fixed;
                top: 1%;
              }

            #evwalk {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 25%;
                left: 25%;
                z-index: -1;
            }

            #toptext {
                position: absolute;
                top: 50%;
                color: #7FB9FD;
                font-size: 30px;
                width: 200px;
                height: 200px;
                left: 30%;
                z-index: -1;
            }
        

            nav ul i {
                padding-left: 5em;
                display: flex;
                flex-direction: row !important;
            }

            .logo2 {
                display: flex;
                position: fixed;
                width: 100px;
                height: 50px;
                left: 1%;
                background-image: url(tiny-g-logo.png);
                top: 20px;
                background-size: cover;
                right: 500px;
            }
            
            #jobtitle1 {
                margin-top: 300px;
                position: absolute;
                left: 5.21%;
                right: 90.19%;
                top: -50px;
                bottom: 92.87%;
                color: #FFFFFF;
                font-size: 50px;
                position: absolute;
                padding-top: 20px;
                font-weight: 700;
                z-index: -1;
            }
            
            #jobtitle2 {
                margin-top: 310px;
                position: absolute;
                left: 8%;
                right: 90.19%;
                top: -55px;
                bottom: 92.87%;
                color: #FFFFFF;
                font-size: 50px;
                padding-left: 10px;
                
                color: #7FB9FD;
                padding-top: 62px;
                font-weight: 700;
                z-index: -1;
            }
            
            #name1 {
                margin-top: 100px;
                position: absolute;
                right: 96%;
                top: 50px;
                bottom: 92.87%;
                color: #FFFFFF;
                font-size: 90px;
                padding-left: 27px;
                z-index: -1;
            }
            
            #name2 {
                margin-top: 80px;
                position: absolute;
                left: 10%;
                right: 90.19%;
                top: -40px;
                bottom: 92.87%;
                color: #FFFFFF;
                font-size: 90px;
                padding-left: 27px;
                color: gray;
                z-index: -1;
            }
            
            #paragraph {
                width: 250px;
                font-size: 15px;
                position: absolute;
                top: 50%;
                color: rgb(255, 255, 255);
                height: 300px;
                display: flex;
                margin: 0;
                left: 21%;
                z-index: -1;
            }
        

            .videos {
                width: 50px;
                height: 50px;
                top: 350px;
                left: 55px;
                z-index: -1;
            }

            .my-button {
                right: 10%;
                transition: ease-in-out .25s;
            }

            
            
            .my-button:hover {
                color: #545454;
                transition:  all ease-in-out .25s;
                
            }

            nav a {
                font-size: 35px;
                color: rgb(14, 14, 14);
                transition: ease-in-out .25s;
            }

            nav a:hover {
                transition: ease-in .25s;
            }

        }

        @media (max-width: 600px) {
            nav ul {
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100% !important;
            margin: 0;
            
          }
          
          nav ul i {
            display: flex !important;
            flex-direction: row !important;
          }

          nav ul.show {
            display: flex;
          }
          
          .my-button {
            display: block;
            color: white;
            right: 10%;
          }
            nav {
                background-color: rgb(14, 14, 14);
            }
        }