body {
    width: 100%;
    height: 100%;
    background: linear-gradient(109.6deg, rgba(13, 13, 13, 0.93) 11.2%, rgb(24, 24, 24) 78.9%);
    background-repeat: no-repeat;
}

.full-screen {
    max-width: 100%;
    height: auto; 
    text-align: center;
}

.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.img-fluid {
    object-fit: cover;
    max-width: auto;
}

#navbarNavDropdown {
    justify-content: space-evenly;
}

#home {
    color: #e6c404;
    align-items: left;
}


#contact {
    background-color: #e6c404;
    text-align: center;
}

#contact:hover {
    background-color: #fff;
    color: #e6c404;
}

.nav-link:hover {
    color: #e6c404;
}

.dropdown-item:hover {
    color: #fff;
    background-color: #e6c404;
}

.navbar.navbarNavDropdown {
    justify-content: space-between;
}

h2 {
    color: #fff;
    margin-top: 5%;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.card {
    background-color: rgb(39, 39, 39);
    color: white;
}

#card-btn {
    background-color: #e6c404;
    border: none;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}

.about-txt {
    color: #fff;
    width: 50%;
    text-align: center;
    justify-content: right;
    align-items: center;
}

.center {
    text-align: center !important;
    justify-content: center !important;
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
}

.proj-bg {
    background-color: rgb(14, 14, 14);
    padding-top: 2%;
}

.about-bg {
    height: 100%;
    width: 100%;
    padding-top: 1%;
}

.form-label {
    color: #fff;
}

.sub-btn {
    background-color: #e6c404;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.sub-btn:hover {
    background-color: #ffffff;
    color: #e6c404;
}

.contact-bg {
    padding-bottom: 10%;
}

#dismiss-btn {
    justify-content: right !important;
}

#imges {
    object-fit: cover;
    height: 70vh !important;
    width: 100%;
}

.topBtn {
    position: sticky;
    justify-content: center;
    background-color: #fff;
    color: #e6c404;
    border: 2px solid #e6c404;
    padding: 10px;
    border-radius: 10px;
}

.topBtn:hover {
    background-color: #e6c404;
    color: #fff;
}


@media (max-width: 630px) {
    .cards {
        flex-direction: column !important;
        display: flex;
        align-items: center;
        padding-bottom: 10%;
    }

    .pad-bottom {
        padding-bottom: 5%;
    }

    .about-txt {
        width: 80%;
    }
  }